@use "./variables";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align-center-col{
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin button {
  font-size: 1.1rem;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
}