$elevation1: 0px 2px 4px -1px black; // 4dp
$elevation2: 0px 5px 5px -3px #353535; //8dp

$primary: #053B50;
$secondary: #176B87;
$tertiary: #64CCC5;
$fourth: #EEEEEE;

$primary-hover: #074a64;
$secondary-hover: #005b74;

$border-radius-main: 12px