@use "../styles/variables";
@use "../styles/mixin";
@use "../styles/animations";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%
}

.button {
  @include mixin.button;
}

.button {
  @include mixin.button;
  box-shadow: variables.$elevation1;
  background-color: white;
}

.button:hover {
  background-color: #d9d9d9;
  transition: 200ms;
}

.tag-input {
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem 0.6rem;
  border: none;
  outline: 0;
  box-shadow: variables.$elevation1;
}

.tag-input:focus {
  transform: scale(1.05);
  transition: 200ms;
}

.text {
  color: white;
  text-align: center;
}

.error-text {
  color: red;
  animation: error-shake 200ms;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 1rem;
  width: 40vw;
  height: 30vh;
  gap: 0.5rem;
  border-radius: 12px;
}

.show {
  @include mixin.flex-align-center-col;
}

.btn-container {
  display: flex;
  gap: 0.4rem;
}

.dialog > input {
  font-size: 1.2rem;
  outline: none;
  border-radius: 8px;
  border: 2px solid black;
  padding: 0.3rem 0.5rem;
}

.dialog > input:hover {
  scale: 1.02;
  transition: 200ms;
}

.dialog > input:focus {
  box-shadow: variables.$elevation1;
}

.btn-cancel,
.btn-confirm {
  @include mixin.button;
}

.btn-cancel {
  background-color: #d2d2d2;
}
.btn-cancel:hover {
  background-color: #a8a8a8;
}

.btn-confirm {
  background-color: #9d4e4e;
  color: white;
}

.btn-confirm:hover {
  background-color: #814040;
}