@use "../styles/mixin";
@use "../styles/variables";

.title {
  margin: 0.4rem;
  font-size: 1.8rem;
}
.file-management-container {
  min-width: 20vw;
  padding: 0.4rem;
}

.button-container {
  @include mixin.flex-center;
  gap: 0.2rem;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: variables.$elevation1;
}

.button {
  @include mixin.button;
  box-shadow: variables.$elevation1;
  background-color: white;
}

.button:hover {
  background-color: #d9d9d9;
  transition: 200ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 70%;
  height: 50%;
  padding: 0.3rem;
  border-radius: 6px;
  border: none;
  box-shadow: variables.$elevation2;
}

.modal::backdrop {
  opacity: 0.4;
  background-color: #000000;
  backdrop-filter: blur(5px);
}

.show {
  @include mixin.flex-align-center-col;
}

.options {
  @include mixin.flex-align-center-col;
  width: 95%;
  overflow-y: auto;
  text-align: center;
}

.modal-option {
  list-style: none;
  width: 50%;
}

.btn-option {
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 8px;
  padding: 0.2rem;
  margin: 0.2rem;
  width: 100%;
  box-shadow: variables.$elevation1;
  background-color: transparent;
  min-height: 2.5rem;
}

.btn-option:hover {
  background-color: variables.$fourth;
  scale: 1.05;
  transition: 200ms;
}

.close-btn {
  position: absolute;
  bottom: 90%;
  right: 2%;
  border-radius: 4px;
  background-color: variables.$deep-red;
  border: none;
  color: white;
  @include mixin.flex-center;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
.close-btn:hover {
  background-color: variables.$deep-red-hover;
}