@use "../styles/variables";
@use "../styles/mixin";

.line {
  border-radius: 0.6rem;
  background-color: white;
  box-shadow: variables.$elevation1;
  margin: 0.3rem 0.5rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  list-style: none;
  min-height: 5vh;
}

.text {
}

.tag-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.2rem;
}

.tag-list {
  border: 1px solid black;
  padding: 0.5rem 0.3rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.tag {
  @include mixin.tag;
}

.delete-btn {
  border: none;
  border-radius: 4px;
  background-color: white;
  display: flex;
  margin: 0.2rem;
}
.delete-btn > * {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.delete-btn:hover {
  scale: 1.1;
  background-color: #eeeeee;
  transition: 200ms;
  cursor: pointer;
}

.delete-btn:hover > * {
  background-color: black;
  color: white;
}

.select {
  font-size: 1.2rem;
  appearance: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 6px;
  padding: 0 1em 0 0;
  margin: 0.2rem;
  padding: 0.2rem;
  min-width: 20%;
  outline: none;
  text-align: center;
}

.select:focus,
.select:hover {
  box-shadow: 1px 1px 2px 1px #afafaf;
}

.button {
  @include mixin.button;
  background-color: variables.$secondary;
  color: white;
}
.button:hover {
  background-color: variables.$secondary-hover;
  transition: 200ms;
}
