@use '../styles/variables';
@use '../styles/mixin';

.menu {
    background-color: variables.$primary;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
}

.text {
    color: white;
}