@use "../styles/mixin";
@use "../styles/variables";

.subtitle {
  color: white;
}

.text {
  color: white;
  font-style: italic;
  font-size: 0.8rem
}

.list {
  @include mixin.flex-align-center-col;
  gap: 0.2rem;
  background-color: #f2f2f2;
  width: 80%;
  border-radius: 4px;
  padding: 0.2rem;
  margin: 0.5rem 0;
  box-shadow: variables.$elevation1;
  max-height: 60vh;
  overflow-y: auto;
}

.tag {
  @include mixin.tag;
  word-break: break-word;
}

.button {
  border: none;
  border-radius: 4px;
  display: flex;
  margin: 0.2rem;
}

.button > * {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.button:hover {
  scale: 1.1;
  cursor: pointer;
  transition: 200ms;
}

.button:hover > * {
  background-color: black;
  color: white;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;
  padding: 0.4rem;
  text-align: center;
  border-radius: 8px;
  border: 0;
  box-shadow: variables.$elevation2;
  width: 45%;
  height: 25%;
  gap: 0.4rem;
}

.show {
  @include mixin.flex-center;
  flex-direction: column;
}

.modal::backdrop {
  opacity: 0.6;
  background-color: #7d7d7d;
}

.container-btns {
  display: flex;
  gap: 0.2rem;
}

.btn-cancel,
.btn-confirm {
  @include mixin.button;
}

.btn-cancel {
  background-color: #d2d2d2;
}
.btn-cancel:hover {
  background-color: #a8a8a8;
}

.btn-confirm {
  background-color: #9d4e4e;
  color: white;
}

.btn-confirm:hover {
  background-color: #814040;
}

.selected-tag {
  font-size: 1.5rem;
  font-weight: bold;
}

.edit-input {
  font-size: 1.2rem;
  border-radius: 0.4rem;
  outline: none;
  border: solid 2px black;
  padding: 0.3rem;
  margin: 0.2rem;
}